* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 10px;
  text-align: justify;
  letter-spacing: 1px;
}

body {
  width: 100%;
  background: #f6f6f6;
}

.image {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

img {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  margin: 50px 0 50px 0;
  border: 5px solid #ddd;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
}

a {
  font-size: 18px;
  font-weight: 400;
  color: #444;
  text-decoration: none;
}

span {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
  color: #444;
}

h4 {
  margin-top: -30px;
  font-weight: 700;
  color: #222;
  font-size: 28px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 25px;
}

.phrase {
  flex: 1;
  max-width: 80%;
  margin-bottom: 25px;
}

i {
  font-size: 25px;
  padding-bottom: 30px;
}

i:hover {
  border-radius: 100%;
  color: #f6f6f6;
  background: #222;
  padding: 8px;
  transition: 0.3s all;
}
