* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  text-align: justify;
}

body {
  width: 100%;
  background: #09090b;
}

.image {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

img {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  margin: 50px 0;
  border: 5px solid #27272a;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #f7f7f7;
  margin-top: 30px;
  max-width: 400px;
  transition: opacity 0.3s ease-in-out;
}

p > span {
  font-style: italic;
}

a {
  font-size: 18px;
  font-weight: 400;
  color: #f7f7f7;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

a:hover {
  background-color: transparent;
  border: 1px solid #eee;
  border-radius: 50%;
  padding: 3px;
}

span {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
  color: #f7f7f7;
  transition: color 0.3s ease-in-out;
}

h4 {
  margin-top: -30px;
  font-weight: 800;
  font-size: 28px;
  background: linear-gradient(to right, #22c55e, #3b82f6);
  -webkit-background-clip: text;
  color: transparent;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.phrase {
  flex: 1;
  max-width: 80%;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
  font-style: italic;
}

i {
  font-size: 20px;
  opacity: 0.75;
  padding-bottom: 30px;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 768px),
  (min-width: 1024px),
  (min-width: 1280px),
  (min-width: 1536px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
